* { 
  /* margin: 0; 
  padding: 0;  */
}
body { 
  font-size: 14px; 
  font-family: 'Noto Sans Tamil', 'Pavanam', cursive;
  font-weight: 300;
  line-height: 24px; 
  letter-spacing: 0.5px; 
  text-align: justify;
  /* margin: auto; */
}
.clear { 
  clear: both; 
}
#page{
  max-width: 1000px; 
  padding-left: 1.0%;
  padding-right: 1.0%;
  margin: 2.5% auto;
  /* border-left: 2px dotted #999; 
  border-right: 2px dotted #999;  */
}
h1 { 
  margin: 0 0 10px 0; 
  padding: 20px 0 10px 0; 
  font-size: 28px; 
  font-weight: 400; 
  font-family: 'Noto Sans Tamil', 'Pavanam', cursive;
  letter-spacing: 0px; 
  border-bottom: 1px solid #999; 
  line-height: 40px;
  color: #444444;
}
h2 { 
  font-size: 20px; 
  font-weight: 400;
  margin: 0 0 10px 0; 
  position: relative;
  color: #666666;
}
h2 span { 
  position: absolute; 
  bottom: 0; 
  right: 0; 
  font-style: italic; 
  font-family: 'Noto Sans Tamil', 'Pavanam', cursive;
  font-size: 18px; 
  color: #666666; 
  font-weight: normal; 
}
h3 { 
  font-size: 16px; 
  font-weight: 400;
  margin: 0 0 10px 0; 
  position: relative;
  color: #999999;
}
h3 span { 
  position: absolute; 
  bottom: 0; 
  right: 0; 
  font-style: italic; 
  font-family: 'Noto Sans Tamil', 'Pavanam', cursive;
  font-size: 18px; 
  color: #999999; 
  font-weight: normal; 
}
/* p { 
  margin: 0 0 16px 0; 
} */
p.footer { 
  margin: 10px 0 0 0; 
  padding: 0 10px 0 20px; 
  font-size: 12px; 
  font-weight: 400; 
  font-family: 'Noto Sans Tamil', 'Pavanam', cursive;
  letter-spacing: 0px; 
  border-top: 1px solid #999; 
  line-height: 40px;
  color: #666666;
}
p.tabs {
  margin: 0 0 0 50px;
}
a { 
  color: #000000; 
  text-decoration: none; 
  transition: all 0.1s ease;
  display: inline-block;
}
a:hover { 
   transform:scale(1.025) translateZ(0);
   backface-visibility: hidden;
}
sec-title { 
  font-style: italic; 
  font-weight: normal; 
  font-size: 24px; 
  text-align: right; 
  padding: 0 26px 0 0; 
  width: 150px; 
  float: left; 
  height: 100px; 
  border-right: 1px solid #999;  
}
sec-contents { 
  width: 600px; 
  float: right; 
}
span.date{
  color: #999999;
  padding-left: 10px;
  font-size: 13px;
}
span.tag{
  color: lightslategray;
  padding-left: 10px;
  font-size: 12px;
}


/* PRSENTATION CARDS */
.card-presentation {
  display: grid;
  justify-content: center;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.card-presentation-title {
  font-size: 16;
  text-align: center;
  border-radius: 10px;
  margin: 0;
  padding: 1rem 0rem; 
  /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5)); */
}
/* PRSENTATION CARDS END */