* { 
  margin: 0; 
  padding: 0; 
}
body { 
  font-size: 20px; 
  font-family: 'Pavanam', cursive;
  line-height: 28px; 
  text-align: justify;
}
.clear { 
  clear: both; 
}
#page{
  max-width: 800px; 
  margin: 5% auto 5% 5%; 
  padding-right: 5%;
}
h1 { 
  margin: 0 0 10px 0; 
  padding: 0 0 10px 0; 
  font-size: 42px; 
  font-weight: normal; 
  font-family: 'Pavanam', cursive;
  letter-spacing: 0px; 
  border-bottom: 1px solid #999; 
  line-height: 40px;
}
h2 { 
  font-size: 64px; 
  margin: 0 0 10px 0; 
  position: relative;
  color: #bbbbbb;
}
h2 span { 
  position: absolute; 
  bottom: 0; 
  right: 0; 
  font-style: italic; 
  font-family: 'Pavanam', cursive;
  font-size: 16px; 
  color: #999; 
  font-weight: normal; 
}
p { 
  margin: 0 0 16px 0; 
}
p.tabs {
  margin: 0 0 0 50px;
}
a { 
  color: #000000; 
  text-decoration: none; 
}
a:hover { 
  border-bottom: 1px solid #0044bb;
}
sec-title { 
  font-style: italic; 
  font-weight: normal; 
  font-size: 18px; 
  text-align: right; 
  padding: 0 26px 0 0; 
  width: 150px; 
  float: left; 
  height: 100px; 
  border-right: 1px solid #999;  
}
sec-contents { 
  width: 600px; 
  float: right; 
}
span.date{
  color: #999999;
  padding-left: 10px;
  font-size: 14px;
}

