* { 
  margin: 0; 
  padding: 0; 
}
body { 
  font: 16px Baloo Thambi, Noto Sans, Roboto, Helvetica, Sans-Serif; 
  line-height: 24px; 
  text-align: justify;
}
.clear { 
  clear: both; 
}
#page{
  width: 800px; 
  margin: 40px auto 60px; 
}
h1 { 
  margin: 0 0 16px 0; 
  padding: 0 0 16px 0; 
  font-size: 42px; 
  font-weight: normal; 
  letter-spacing: 0px; 
  border-bottom: 1px solid #999; 
}
h2 { 
  font-size: 20px; 
  margin: 0 0 6px 0; 
  position: relative; 
}
h2 span { 
  position: absolute; 
  bottom: 0; 
  right: 0; 
  font-style: italic; 
  font-family: Baloo Thambi, Noto Sans, Roboto, Georgia, Serif; 
  font-size: 16px; 
  color: #999; 
  font-weight: normal; 
}
p { 
  margin: 0 0 16px 0; 
}
a { 
  color: #A52A2A; 
  text-decoration: none; 
}
a:hover { 
  border-bottom-style: solid; 
  color: black; 
}
sec-title { 
  font-style: italic; 
  font-weight: normal; 
  font-size: 18px; 
  text-align: right; 
  padding: 0 26px 0 0; 
  width: 150px; 
  float: left; 
  height: 100px; 
  border-right: 1px solid #999;  
}
sec-contents { 
  width: 600px; 
  float: right; 
}

