---
layout: base
---

<body>

  <div id="page">
      <div id="contact-info" class="vcard">
          <h1 class="fn">{{ page.title }}</h1>
      </div>
      <a href="/">விஜய்</a> 

      <span class="date">
        {% assign m = page.date | date: "%-m" | minus: 1 %}
        {{ site.data.ta.months[m] }}
        {{ page.date | date: "%-d" }}, 
        {{ page.date | date: "%Y" }}
      </span>

      {% for tag in page.tags %}
            <span class="tag">#{{ tag }}</span>
      {% endfor %}

      <br>

      {{ content }}

      <br>
      <a href="#" onclick="history.go(-1)"> < பின் </a>
      <br>
      <a href="/"> ⌂ முகப்பு</a>
      <br>
  </div>
</body>